  .brand {
    color: black; /* Brand color */
    text-align: center;
  }
  
  .sidebar { 
    height: 100%; 
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white; /* Sidebar background color */
    overflow-x: hidden;
    transition: 0.5s;
    display: flex; /* Add flexbox */
    flex-direction: column; /* Stack items vertically */
  }
  
  .sidebar a {
    padding: 16px;
    padding-left: 40px;
    text-decoration: none;
    font-size: 20px;
    color: #9197B3; /* Menu item color */
    display: block;
    transition: 0.3s;
    text-align: left; /* Center text horizontally */
  }
  
  .sidebar a:hover {
    color: #383838;
  }
  
  .sublist {
    display: none;
    padding-left: 20px;
  }
   
  .sublist.active { 
    display: block;
  } 
  
  .sidebar a.menu-item {
    margin-bottom: 10px; /* Adjust the gap as needed */
  }
  
  .sub-item {
    text-align: center; /* Center text horizontally */
    margin-bottom: 5px; /* Adjust the gap as needed */
  }
  
  .sidebar a.active,
  .sublist a.active {
    color: white; /* Active menu item text color */
  }
  
  .sidebar a.active {
    position: relative; /* Position relative for absolute positioning of the rectangle */
  }
  
  
  .sidebar a.active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%; /* Move the rectangle to the center horizontally */
    width: calc(100% - 60px); /*Adjust width as per your preference*/
    height: 100%;
    border: 2px solid #28B704; /* Border color for the rectangle */
    border-radius: 5px; /* Border radius for rounded corners */
    background-color: #28B704; /* Fill color within the border */
    transform: translate(-50%, -50%); /* Move the rectangle to the center vertically and horizontally */
    z-index: -1; /* Move the background behind the text */
  }

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
.search-container {
    margin-bottom: 10px;
}
.search-container input[type=text] {
    padding: 10px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.search-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-button,.add-task{
    padding: 10px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
     
}

.equipment-button-div{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
} 

.filter-label{
    color: #797979; 
}

td a {
    color: #28B704;
    text-decoration: none;
}
td a:hover {
    text-decoration: underline;
}

.top-section {
  margin-bottom: 20px;
  align-items: center;
}

.button#backButton {
  background-color: #7a7878; 
  border: 1px solid #ddd; 
}

.button-container{
  font-size: 0;
}

.button-overview-inventory, .button-overwiew {  
  display: inline-block; 
  border-width: 1px;
  border-color: #d7d7d7;
  background: transparent;
  width: 20%;
  height: 50px;
  font-size: large;
}

.button-overview-inventory:hover, 
.button-overview-inventory:focus,
.button-overwiew:hover, 
.button-overwiew:focus {
  background-color: #28b704;
  color: white;
}

.button-overview-inventory.highlight,.button-overwiew.highlight { 
  background-color: #4CAF50;
  color: white;
}

.button-overview-inventory:not(.highlight),.button-overwiew:not(.highlight) {
  background-color: white;
  border: 1px solid #ddd; 
}

.button-overview-inventory:not(.highlight):hover,.button-overwiew:not(.highlight):hover {
  background-color: #7bf37d;
}

#edit-delete-button{
  margin-top: 10px;  
}

#add-record{
  margin-top: 10px;  
  background-color: #4CAF50; 
}

.button#editButton{
  background-color: #4CAF50;
}

.button#deleteButton{
  background-color: #f44336; 
}

.details-section {
  padding-top: 10px;
  background-color: #FAFBFF;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}

.details-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}
.details-label { 
  color: #7f7f7f;
  flex: 0 0 200px;  
  margin-right: 5px; /* Adjust as needed */
}
.details-info {
  flex: 1;
  width: 400px;
  margin-left: 10px;
  color: black; 
}

.image-container {
  flex: 0 0 auto; /* Fixed size for image container */
  margin-right: 20px; /* Adjust spacing between image and details */
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 3px solid #9197B3; /* Add border */
}

.overview-label{
  color: #7f7f7f;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

th, td {
  border: 1px solid #9197B3;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #CDFFC8;
  color: black; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #FAFBFF; 
  margin-left:5rem;
}

.main {
  margin-top: 50px;
}

.weather-panel {
  border: 1px solid #000;
  transform: translateY(-40px);
  background-color: #ececec;
  width: 100%;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.33);
  color: #000;
  margin-left: 0px;
  max-width: 880px;

  small {
      color: inherit;
      font-size: 50%;
  }
  ul.forecast > li {
      margin-top: 20px;
      margin-bottom: 20px;
      border-top: 1px solid #454545;
  }
  .temperature {
      & > span {
          font-size: 2em;
      }
  }
}


.weather-details {
margin-top: 10%;
display: flex;
flex-direction: row;
}

.details {
margin-right: 20%;
text-wrap: nowrap;
}

.sun {
  margin-left: 40px;
}

.buttons {
margin-bottom: 10px;  
display: flex;
flex-direction: row;
font-size: 16px;
}

.hourly, .daily {
margin-left: 40%;
margin-top: 5%;
width: 30%;
height: 7vh;
background-color: #FFFFFF;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border: 1.5px solid #9197b3;
}

.daily {
margin-left: 0px;
border-radius: 10px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
background-color: #28b704;
}

.hourly:hover, .daily:hover, .add:hover {
background-color: #28b704;
cursor: pointer;
}

.temperature {
justify-content: right;
align-items: right;
display: flex;
flex-direction: row;
margin-left: 38%;
text-wrap: nowrap;
}

.location {
font-size: 26px;
}

.temperature-details {
display: flex;
flex-direction: row;
}

.text-center {
  padding-top: 15px;
}

.add-container {
  width: 100%;
  min-width: 890px;
  width: 890px;
}

.add {
margin-left: 90%;
min-width: 80px;
width: 10%;
height: 7vh;
background-color: #28b704;
border-radius: 10px;
border: 1.5px solid #9197b3;
}

.dashboard-table table {
width: 100%;
margin-left: 15px;
margin-top: 3%;
font-family: arial, sans-serif;
border-collapse: collapse;
width:880px;
right: 0;
min-width: 880px;
}

.dashboard-table td, 
.dashboard-table th {
border: 1.5px solid #9197B3;
text-align: center;
padding: 8px;
}

.dashboard-table th{
background-color: #CDFFC8;
}

.dashboard-table tr:nth-child(even) {
background-color: #efefef;
}

.dashboard-table table a {
color: #28b704;
text-decoration: underline;
}

.content {
  margin-left: 20%; 
  padding: 16px; 
}

h1 {
  font-size: 32px;
  margin-left: 50px;
  margin-top: 30px;
  color: #000;
  white-space: nowrap;
}

.crop-search-container {
  margin-left: 50px;
  position: relative;
  display: inline-block;
}

.search-bar {
  height: 45px;
  width: 500px;
  border-radius: 10px;
  font-size: 20px;
  font-style: italic;
  padding-right: 50px;
}

.search-form {
  margin: 20px 50px;
  text-align: center;
}

.search-input {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #000;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter-icon {
  height: 47px;
  position: absolute;
  margin-left: 50px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.filter-icon:hover {
  background-color: #0056b3;
}

.filter-icon:active {
  background-color: #003f80;
}

.crops {
  margin-left: 50px;
  margin-top: 75px;
}

.crops button {
  display: flex;
  background-color: #c9edc0;
  width: 95%;
  height: 70px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  margin-top: 5%;
}

.crops button p {
  color: #000; 
  margin-top: 1%;
  font-size: 20px;
  margin-left: 3%;
}

.arrow-icon {
  margin-left: auto;
  margin-right: 5%;
}

.video-container {
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  height: 25%;
  min-height: 250px;
}

.conditions, .season-wheat {
  margin-left: 50px;
  margin-right: 50px;
  width: 780px;
}

.season-wheat {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.spring, .winter {
  font-weight: bold;
  font-size: 20px;
}

.conditions table,
.season-wheat table {
  width: 100%;
  margin-top: 3%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  padding-right: 0;
}

.season-wheat table {
  width: 380px;
}

.winter {
  margin-left: 20px;
}

.winter-wheat table {
  margin-left: 20px;
}

.conditions td, th, 
.season-wheat td, th {
  border: 1.5px solid #606060;
  text-align: left;
  padding-left: 15px;
}
    
.conditions th, 
.season-wheat th{
  background-color: #CDFFC8;
}
    
.conditions th:nth-child(even), 
.season-wheat th:nth-child(even) {
  background-color: #efefef;
}

.article-container {
  margin-left: 50px;
  margin-top: 70px;
}

.article {
  margin-right: 50px;
  width: 230px;
  max-width: 230px;
  height: 350px;
  border: 1px solid #000;
  border-radius: 10px;
}

.article-row {
  display: flex;
  flex-direction: row;
}

.article-pic {
  width: 230px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article a {
  color: #28b704;
  text-decoration: underline;
}

.wrapper {
  margin-left: 25px;
  transform: translateY(-30px);
  font-size: 16px;
  padding: 20px;
}

.wrapper button {
  display: flex;
  background-color: #c9edc0;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin-top: 5%;
}

.col-md-6 {
  margin-top: 10px;
}

.col-md-6 input {
  border-radius: 10px;
}

.col-md-6 select {
  border-radius: 10px;
  height: 35px;
  width: 400px;
}

.py-3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.py-3 button {
  width: 130px;
  height: 40px;
  color: #000;
}

.cancel-button {
  color: #000;
  margin-left: 25px;
}

.ml-auto button {
  width: 100px;
  height: 40px;
}

.input-form{
  padding-top: 20px;
  padding-bottom: 20px;
}
.input-form input{
  height:45px;
  border-radius:4px;
  font-size: large;
}

.input-form input[type="text"]{
  width:200px;
  padding-left: 15px;;
  border-width:1px;
}

.input-form input[type="submit"]{
  background-color: #28b704;
  color: white;
  width:150px;
  border:none;
}

.searchicon {
    opacity: 0.5;
    margin-left: -40px;
    top: 50%;
    width:25px;
    height:25px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.tablenvisual{
  padding-top: 5px;
  padding-bottom: 30px;
  font-family:Arial, sans-serif
}

.tablenvisual button{
  border-width: 1px;
  border-color: #d7d7d7;
  background: transparent;
  width:450px;
  height:50px;
  font-size: large;
}

.tablenvisual button:hover, .tablenvisual button:focus{
  background-color: #28b704;
  color: white;
}
/* Pop up */
/* Popup container */ 
.popup { 
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}
/* Styling for labels and buttons */
.custom-label { 
  margin-bottom: 10px;
  display: block;
} 
.custom-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
.custom-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.custom-button:hover {
  background-color: #45a049;
}

.delete-button {  
  background-color: red;
}
